name: Build and scan ROCKs, save and send scan reports

on:
  schedule:
  # every day at 1:12AM UTC
  - cron: '12 1 * * *'
    secrets:
      CVE_REPORT_JIRA_URL:
        required: true

jobs:
  save-space:
    name: Maximise GH runner space
    runs-on: ubuntu-20.04
    uses: easimon/maximize-build-space@v7
    with:
      root-reserve-mb: 40960
      remove-dotnet: 'true'
      remove-haskell: 'true'
      remove-android: 'true'
      remove-codeql: 'true'
      remove-docker-images: 'true'

  build-scan-rocks:
    name: Build and scan ROCKs
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        rock:
          - mlserver-huggingface
          - mlserver-mlflow
          - mlserver-sklearn
          - mlserver-xgboost
          - seldon-core-operator
          - sklearnserver
    uses: canonical/charmed-kubeflow-workflows/.github/workflows/build_and_scan_rock.yaml@main
    secrets:
      JIRA_URL: ${{ secrets.CVE_REPORT_JIRA_URL }}
    with:
      rock: ${{ matrix.rock }}
